#root {
  max-width: 700px;      /* or 800px, adjust as you like */
  margin: 180px auto;     /* 60px top/bottom, auto left/right for centering */
  padding: 0 100px;       /* horizontal padding for breathing room */
  text-align: left;      /* left-align text for a column look */
  min-height: 80vh;      /* optional: ensure it doesn't look too short */
  border-radius: 12px;   /* optional: for a soft look */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.top-right-name {
  text-align: right;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.2em; /* Reduce this value as needed */
}
.top-right-location {
  text-align: right;
  margin-top: 0; /* Ensure no extra space above */
}

.body-text {
  font-weight: 300;
  margin-top: 50px;
  text-align: justify;
}

.header-text a {
  color: inherit;
  font-weight: 300;
  text-decoration: none;
}

.header-text a:hover {
  text-decoration: underline;
}